<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">MK NOTE+</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/main">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/profile">Post Your Note</a>
        <a class="nav-item nav-link" href="/logout">Log Out</a>

      </div>
    </div>
  </nav>

</header>

<body>
  <div id="welcome">
    <h2>Welcome Back <%=name%> </h2>
    <br>
  </div>

  <div id="welcome">
    <h5>You Can Share your Note On the Wall </h5>
  </div>
  <!-- cards  -->
  <div class="container">
<div class="row ">

  <% names.forEach(function(name){ %>
  <div class="card  card col-lg-3 col-sm-6 mb-4 text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><%=name.fullname%></div>
      <div class="card-body">
        <h5 class="card-title"><%=name.subject%></h5>
        <p class="card-text"><%=name.blog%></p>
        <% if (user ===name.user_id) { %>
        <button role="button" onclick="deleteButton(<%=name.id%>)" class="btn btn-outline-warning">Delete</button>

        <a role="button" href="/<%=name.id%>/edit" class="btn btn-outline-dark">Edit</a>
        <% } %>
      </div>
</div>
<% }) %>
</div>
</div>
</body>


<script>
  function deleteButton(id) {
    $.ajax({
      url: "/post/" + id,
      method: "DELETE"
    }).done(function (response) {
      console.log(response);
      location.reload();
    });
  }
</script>
<style>
  body {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;

  }

  #welcome {
    display: flex;
    justify-content: center;
  }

  #name {
    text-align: center;
    
  }
  .row{
    margin-bottom: 210px;
    display: flex;
    justify-content: center;
  }
  
  .card{
    margin: 10px
  }
 
</style>

  <!-- footer -->

 <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"></h5>
          <p></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"></h5>
          <p></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Home Page </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->


</html>